@import url('https://fonts.google.com/specimen/Karla');

html{
  margin-top:5rem;
  margin-bottom:5rem;
  background-color:hsl(204, 43%, 93%);
  padding-right:.5rem;
  
  padding-left:.5rem;
 
}

#headline{
  color:hsl(204, 43%, 93%);
  font-weight:bold;
  font-size:25px;
}
h1{
  text-align:left;
  
}

#title-header{
 border-top-left-radius:2rem;
  border-top-right-radius:2rem;
  padding-top:.5rem;
  padding-bottom:3rem;
  background-color:white;
  padding-left:2rem;
  display:block;
  margin:auto;
  font-size:20px;
  width:895px;
  height:200px;
}
body{
  
 @import url('https://fonts.google.com/specimen/Karla') ;
Font-Family: Karla;
font-Weights: 400, 700;
font-size:16px;
}

    
.sign-on-button{
  width:300px;
  height:50px;
  border-radius:2rem;
  background-color: hsl(71, 73%, 54%);
  color:white;
  font-size:20px;
}

.topic-header{
  
color: hsl(71, 73%, 54%)

}

#title-head{
  color:hsl(179, 62%, 43%);

}

#bottom-region{
  margin-left:17.5rem;
  position:absolute;
  background-color: hsl(179, 62%, 43%);
  width:910px;
  color:white;
  padding-top:1.5rem;
  padding-left rem;
  padding-bottom:2rem;
  padding-right:1rem;
  font-size:20px;
  display:grid;
  grid-gap:75px;
  grid-template-columns: 1fr 1fr;
  border-bottom-right-radius:2rem;
  border-bottom-left-radius:2rem
  
}

.container1{
  padding-left:2.5rem;
  text-align:center;
  position:relative;
   z-index:1;
  
}

.container2{
  position:relative;
  z-index:2;
  
}